// FONTS
$baseFont: 'Ubuntu', sans-serif;  // Основной шрифт

// colors for ellements
$red-btn: #e2372e;
$gray: #e8e8e8;

// colors for fonts
$font-default: #313131;
$red-font: #df1c1c;
$font-gray: #989898;

